html,body{
	height:100%;
}
.bungkus{
	display: grid;
	grid-template-columns: 400px auto;
	grid-template-rows: auto auto 200px;
}
.Header{
	grid-column-start: 1;
	grid-column-end: 2
}
.Res{
	padding-bottom: 10px;
	grid-column-start: 2;
	grid-column-end: 3;
}
.homeCariAtas{
	grid-column-start: 1;
	grid-column-end: 2;
}
.Chatting{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 5;
}
.Kontak{
	overflow-y:scroll;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 5;
	height: 570px;
}
.content{
	margin:auto;
}
.Kirim{
	position: absolute;
	bottom : 20px;
	right: 10px;
	left:420px;
}
